* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    transition-duration: 0.3s;
    scroll-behavior: smooth;
}
body {
    font-family: "Bree Serif", serif;
}

header a {
    text-decoration: none;
    color: white;
}

/*HOME*/
#home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: url("../images/luxembourg.jpg");
    background-size: auto;
    background-size: cover;
}

#home h1 {
    font-size: 10vw;
    text-shadow: 1px 1px 2px #272727;
}
#home h1 span {
    color: #ff4a4a;
}

#home h2 {
    padding-bottom: 20px;
    text-shadow: 1px 1px 2px #272727;
}

/*SEARCH BAR*/
.form-control {
    border: 2px solid #ff954a;
}

.btn.btn-lg {
    padding: 0.5rem 1.4rem;
}
.md-form .prefix.active {
color: #ff954a;
}
#result{
    width: 64%;
}

/*HOME SERVICES*/

h1#title {
    color: #ff4a4a;
    padding: 50px 50px 0 50px;
}

.hr-light {
    border-top: 3px solid #ff954a;
    width: 90px;
    margin: auto;
    padding: 30px;
}
.carousel-multi-item{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
}

.card-title {
    color: #ff4a4a;
}

.card-img-top {
    width: 70%;
    height: 30%;
    margin: 20px auto;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.carousel-multi-item .controls-top .btn-floating {
    background: rgb(255, 74, 74);
}

.btn-secondary {
    background-color: rgb(255, 74, 74) !important;
}

#btn {
    margin-top: 5px;
}
/*LOGIN REGISTER*/
#login {
    background-image: url("../images/background.jpg");
    background-size: cover;
    height: 80vh;
}

.alert {
    margin-bottom: 0;
    border: 1px solid transparent;
    border-radius: .25rem;
    left: 50%;
    transform: translate(-50%);
    color: #de0303;
    background-color: #ffb580;
    border-color: #ff954a;
}


.fas{
    color: #ff4a4a;
}
footer {
    background-color: #272727e8;
    padding: 5px;
}

footer a:hover {
    color: #ff4a4a;
}

/*ADMIN*/

article {
    border-bottom: 1px solid black;
}

.hide {
    display: none;
}

.inner {
    resize: none;
    border: 1px solid orange;
    border-radius: 15px;
}

.admin-panel-card-deck {
    margin: 2%;
}

.admin-panel-h2 {
    width: fit-content;
    margin: auto;
}

.admin-panel-body {
    height: 59.2vh;
    width: 80%;
    margin: auto;
    margin-top: 15vh;
}
.report-control-panel {
    display: flex;
    margin: 3% auto;
    width: 80%;
    width: fit-content;
}

.unhandled-reports {
    width: 60%;
    border-right: 1px solid black;
    padding: 1%;
}

.unhandled-report {
    width: fit-content;
    border-top: 1px solid black;
    margin: 1%;
}

.unhandled-report:last-of-type {
    border-bottom: 1px solid black;
}

.handled-reports {
    width: 60%;
    margin: 1%;
}

.handled-report {
    width: fit-content;
    border-top: 1px solid black;
    margin: 1%;
}

.handled-report:last-of-type {
    border-bottom: 1px solid black;
}
.pagination .page-item.active .page-link {
    background: linear-gradient(40deg, #ffd86f, #fc6262);
}

.add-service-body {
    width: 80%;
    margin: auto;
}
